<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'home' %}">Home</a>
                    <a href="{% url 'logout' %}">Logout</a>
                    <a href="{% url 'account_list' %}">Accounts</a>
                    <a href="{% url 'create_category' %}">Create Category</a>
                    <a href="{% url 'create_account' %}">Create Account</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                    <a href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>Expense Category</h1>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Number of Receipts</th>
            </tr>
            </thead>

            <tbody>
                {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.items.all|length }}</td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
